<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>寒假-路人女主-简讯</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/news.css">
    <!--<link href="/static/css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<!--
===============================================
头部、侧边导航栏
===============================================
-->
<header>
    <div class="left-side">
        <div class="inner">
            <h1 class="side-logo"><a href="/"><img src="/static/images/side_logo.png" alt=""></a></h1>
            <div class="left-side-menu-box">
                <!--左侧导航栏-->
                <nav class="side-global-menu">
                    <ul>
                        <li class="news"><a href="/">资讯简报 <span class="side-news-update">02.14</span> </a></li>
                        <li class="schedule"><a href="/archives/">归档</a></li>
                        <li class="character"><a href="/static/character.html">角色简介</a></li>
                        <li class="staff"><a href="staff.html">制作人员</a></li>
                        <li class="moive"><a href="moive.html">视频</a></li>
                        <li class="music"><a href="music.html">音乐</a></li>
                        <li class="about-me"><a href="about.html">关于我和这个作品</a></li>
                    </ul>
                </nav>

                <!--搜索框-->
                <div class="input-group">
                    <form class="input-group" action="/search/" method="get">
                        <input class="form-control input-lg" type="text" name="s" placeholder="回车搜索">
                    </form>
                </div>

                <!--下边栏-->
                <nav class="side-share-menu">
                    <p class="side-share-title">分享:</p>
                    <ul>
                        <li><a href="http://wx.qq.com"><span class="wx-share"></span></a></li>
                        <li><a href="http://qq.com"><span class="qq-share"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--
===============================================
主页简讯主体
===============================================
-->
<main>
    <article class="l-container">
        <div class="l-container-left"></div>
        <div class="l-container-right">
            <div class="l-page">
                <!--<section>-->
                <div class="inner">
                    <h2 class="page-title"><span class="head">NEWS</span><span class="subhead">最新资讯</span></h2>
                    <div class="l-news">

                        {% block content %}
                        {% endblock %}

                    </div>
                </div>
                <!--</section>-->
            </div>
        </div>
    </article>


</main>
<!--
===============================================
页脚
===============================================
-->
<footer>
    <div class="footer">
        <div class="footer-inner">
            <ul class="footer-menu">
                <li><a href="about.html">关于我</a></li>
                <li><a href="http://tomlao.xin/">我的博客</a></li>
                <li><a href="http://tomlao.xin:8080/dgut/MyPrj/dropMenu/dropMenu.html">我的其他作品</a></li>
            </ul>
            <p class="footer-copyright">
                &copy;2018 Lao_Heze<br>
                本网页由Lao_Heze耗时耗力制作肝出来的!<br>
                不许盗用！！！
            </p>
        </div>
        <div class="footer-chara">
            <div class="footer-chara-box footer-chara-megumi"><img src="/static/images/ft_bg_megumi.png" alt="" class="pcv"></div>
            <div class="footer-chara-box footer-chara-eriri"><img src="/static/images/ft_bg_eriri.png" alt="" class="pcv"></div>
            <div class="footer-chara-box footer-chara-utaha"><img src="/static/images/ft_bg_utaha.png" alt="" class="pcv"></div>
            <div class="footer-chara-box footer-chara-izumi"><img src="/static/images/ft_bg_izumi.png" alt="" class="pcv"></div>
            <div class="footer-chara-box footer-chara-michiru"><img src="/static/images/ft_bg_michiru.png" alt="" class="pcv"></div>
        </div>
    </div>
</footer>

<!--
===============================================
回到顶部实现
===============================================
-->
<div id="back-to-top">
    <img src="/static/images/back_to_top.png" alt="">
</div>

<script src="/static/js/index.js"></script>

<!--<script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>　　-->

</body>
</html>